:root {
  font-size: 1rem;
}

body {
  font-size: 1rem;
  margin-bottom: 5rem;
}

pre {
  font-size: 0.85rem;
}

.tocify-extend-page {
  height: 0 !important;
}

.toc-content {
  max-width: 85ch;
  text-align: justify;
}


/* Apply some basic styles to the table */
table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  margin-bottom: 20px;
}

th {
  font-weight: bold;
  padding: 10px;
  text-align: left;
}

td {
  padding: 10px;
  border: 1px solid #ccc;
}
